@import 'app';

.courseList{
    padding:0 2em;
    div.course{
        background-color:$secondaryColor;
        color:$titleColor;
        padding:5em;
        margin-left:1em;
        margin-top:2em;
        font-weight: bold;
    }
    
}






